@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
@theme {
  --color-primary: #1E88E5;
  --color-accent: #805AD5;
  --color-secondary: #334155;
  --font-inter: "Inter", sans-serif;
}
.btn-primary{
  @apply bg-blue-600 hover:bg-blue-700 text-white
}
.btn-secondary{
  @apply bg-purple-600 hover:bg-purple-700 text-white
}
.btn{
  @apply px-6 py-2.5 rounded-md duration-300 cursor-pointer
}
